.cabecalho{

  display: flex;
  justify-content: space-between;
  align-items: center; 

  background-color: var(--cor-s);

  padding: 8px 16px;

  box-shadow: var(--sombra);

}

.cabecalho__menu i::before{

  content: var(--menu-i);
  font-size: 24px;

}

.cabecalho__logo{

  width: 40px;

}

.cabecalho__noficacao i::before{

  content: var(--notificacao-i);
  font-size: 24px;

}
